@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';


/* Custom overrides for better integration */
.rdrCalendarWrapper {
  border: none !important;
  border-radius: 0.5rem !important;
}

.rdrDateRangePickerWrapper {
  border: none !important;
}

.input {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400;
}